
.template-card-container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: all .2s ease-in-out; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.template-card-container:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.card-cover-container {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card-cover{
  width: 100%;
  height: 100%; 
}

.card-title-container {
  width: 100%;
  height: 20%;
  text-align: center;
  color: black;
  font-size: 1.30rem;
}

.card-title-container h3 {
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}